
@font-face {
	font-family: "Goudy Bookletter 1911";
	src: url("/fonts/GoudyBookletter1911.otf");
}

@font-face {
	font-family: "Fanwood";
	src: url("/fonts/Fanwood.otf");
}



body {
    margin: 0px;
    /* background: url(/i/wood_100.jpg); */
    font-family: "Fanwood";
    overflow:hidden;
}

/* board */


#board {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


.vertex, .edge, .hex-hitarea {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* board/ports */


.port circle {
	stroke: #000000;
	stroke-dasharray: 3,2;
	stroke-width: 2px;
	fill: none;
}
.port-marker circle.port-marker {
	stroke: #000000;
	stroke-dasharray:none;
	stroke-width: 2px;
	fill:none;
}
.port-marker text {
	font-family:"Fanwood", serif;
	font-size:20px;
	stroke:#000000;
	fill:#000000;
	dominant-baseline:central;
	text-anchor:middle;
}
.port-marker line {
	stroke: #000000;
	stroke-width: 2px;
	/*marker-end:url(#Triangle);*/
}


.port-Wool circle.port-marker {
    fill: #BFE882;
}

.port-Wheat circle.port-marker, .port-Grain circle.port-marker {
    fill: #FFEF4F;
}

.port-Wood circle.port-marker {
    fill: #00932C;
}

.port-Ore circle.port-marker {
    fill: #787887;
}

.port-Brick circle.port-marker {
    fill: firebrick;
}
.port-any circle.port-marker {
	fill: white;
}

.port-marker circle.port-hit-area {
	fill: rgba(0,255,0,1.0);
	opacity: 0;
}
.port-marker circle.port-hit-area:hover {
	opacity: 0.5;
}

/* end board/ports */

/* board/hexes */


.hex {
	fill:#F5F5FF;
	stroke: #CCCCCC;
	stroke-width:0;
}
.hexlabel-back {
	fill:#F5F5FF;
	stroke:#CCCCCC;
}
.hex-hitarea {
	fill:#00FF00;
	opacity:0;
}
.hex-hitarea:hover {
	opacity:0.5;
}
.Fields {
    fill:#FFEF4F;
    stroke:#DDCD2D;
    stroke-width:1;
}
.Forest {
    fill:#00932C;
    stroke:#00710A;
    stroke-width:1;
}
.Pasture {
    fill:#BFE882;
    stroke:#9DC770;
    stroke-width:1;
}
.Hills {
    fill:#B22222;
    stroke:#900000;
    stroke-width:1;
}
.Mountains {
    fill:#787887;
    stroke:#565665;
    stroke-width:1;
}
.Desert {
    fill:#fafad2;
    stroke:#D8D8B0;
    stroke-width:1;
}
.hexlabel {
	font-family:"Fanwood", serif;
	font-size:26px;
	stroke:#000000;
	fill:#000000;
	dominant-baseline:central;
	text-anchor:middle;
}
.labelemph {
	stroke:#FF0000;
	fill:#FF0000;
}

/* end board/hexes */

/* board/edges */


.edge {
    fill:rgb(0,255,0);
    opacity:0;
    stroke:rgb(0,255,0);
    stroke-width:1;
}

.edge:hover {
    opacity:0.5;
}

/* end board/edges */

/* board/vertex */


.vertex {
    fill:rgb(0,255,0);
    opacity:0;
    stroke:#00ff00;
    stroke-width:1;
}
.vertex:hover {
    opacity:0.5;
}

.highlighted {
    fill:rgba(100,255,100,0.3);
    stroke:#AAFFAA;
    stroke-width:1;
}

/* end board/vertex */

/* board/developments */


.player-red {
    fill:rgb(255,0,0);
    background-color:rgb(255,0,0);
    stroke:#000000;
    stroke-width:1;
}
.player-green {
    fill:rgb(0,255,0);
    background-color:rgb(0,255,0);
    stroke:#000000;
    stroke-width:1;
}
.player-blue {
    fill:rgb(0,0,255);
    background-color:rgb(0,0,255);
    stroke:#000000;
    stroke-width:1;
}
.player-orange {
    fill:#FF9900;
    background-color:#FF9900;
    stroke:#000000;
    stroke-width:1;
}
.player-white {
    fill:#CCC;
    background-color:#CCC;
    stroke:#000000;
    stroke-width:1;
}
.player-brown {
    fill:#CC6600;
    background-color:#CC6600;
    stroke:#000000;
    stroke-width:1;
}

/* end board/developments */


/* board/resource-view */

ul.resource-view, ul.resource-view ul, ul.resource-view li {
	list-style-type: none;
}

ul.resource-view {
	margin-left:15px;
	margin-bottom:15px;
}
ul.resource-view>li>span>span {
	visibility:hidden;
}
ul.resource-view>li>span {
	display:block;
	width:25px;
	height:40px;
	border:solid 1px white;
	border-radius:2px;
	text-decoration:none;
	
}
ul.resource-view>li {
	width:25px;
	height:40px;
	margin-top:-20px;
	margin-left:-15px;
	padding-top:25px;
	padding-bottom:0px;
	float:left;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.resource-view>li:hover, ul.resource-view>li.resource-view-resource-selected {
	padding-top:0;
	padding-bottom:25px;
}

.resource-view-Wool {
    background-color: #BFE882;
}

.resource-view-Grain {
    background-color: #FFEF4F;
}

.resource-view-Wood {
    background-color: #00932C;
}

.resource-view-Ore {
    background-color: #787887;
}

.resource-view-Brick {
    background-color: firebrick;
}

/* end board/resource-view */

/* board/player-view */

#players > ul > li {
	clear:both;
}

.current-player {
	margin: -1px;
	border: solid 1px green;
}


/* end board/player-view */
