<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Game</servlet-name>
		<servlet-class>org.boardgameengine.GameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChannelPresenceServlet</servlet-name>
		<servlet-class>org.boardgameengine.ChannelPresenceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateGame</servlet-name>
		<servlet-class>org.boardgameengine.CreateGame</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Board</servlet-name>
		<jsp-file>/WEB-INF/board.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Board</servlet-name>
		<url-pattern>/WEB-INF/board.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChannelPresenceServlet</servlet-name>
		<url-pattern>/_ah/channel/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
